<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="InSaluteEntities" connectionString="metadata=res://*/BusinessLogicModel.csdl|res://*/BusinessLogicModel.ssdl|res://*/BusinessLogicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A768RC1\MSSQLSERVER_DEV;initial catalog=InSalute;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="Username" value="" />
		<add key="Password" value="" />
		<add key="BaseURI" value="https://localhost:44389/api/" />
	</appSettings>
</configuration>